# Package directories
node_modules
jspm_packages

# Localstack
.localstack

# Serverless directories
.serverless

# Environment
.env

# IDEs and editors
.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# Linux
*~

# OSX
*.DS_Store
.AppleDouble
.LSOverride

#Windows
Thumbs.db
ehthumbs.db
ehthumbs_vista.db

# Build files
.build
build
